<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chelseatroy.androidzooniverse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProjectListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".GetProjectsService"/>

        <activity android:name=".ProjectDetailActivity"/>

        <provider
            android:authorities="com.chelseatroy.androidzooniverse.provider"
            android:name=".provider.ZooniverseContentProvider" />
    </application>

</manifest>
